In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [4]:
df = pd.read_csv('student_data.csv')
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [5]:
df.shape

(2392, 15)

In [6]:
df.describe().sum()

StudentID            16261.655244
Age                   2490.592444
Gender                2396.010856
Ethnicity             2398.905984
ParentalEducation     2403.746649
StudyTimeWeekly       2456.560769
Absences              2488.008805
Tutoring              2394.760393
ParentalSupport       2405.244886
Extracurricular       2394.869668
Sports                2394.763382
Music                 2393.594650
Volunteering          2393.521247
GPA                   2404.511754
GradeClass            2410.217603
dtype: float64

In [7]:
df.isna().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [8]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2387    False
2388    False
2389    False
2390    False
2391    False
Length: 2392, dtype: bool

In [18]:
X= df.drop(['StudentID', 'GradeClass'], axis=1)
y = df['GradeClass']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state= 42)

In [20]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [22]:
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
y_pred_log_reg = log_reg.predict(X_test)
log_reg_accuracy = accuracy_score(y_test, y_pred_log_reg)
print(f'Logistic Regression Accuracy: {log_reg_accuracy}')
print(confusion_matrix(y_test, y_pred_log_reg))
print(classification_report(y_test, y_pred_log_reg))

Logistic Regression Accuracy: 0.7453027139874739
[[  0  15   3   2   2]
 [  4  23  17   1   4]
 [  1  12  53  14   5]
 [  0   2  14  49  21]
 [  0   1   1   3 232]]
              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00        22
         1.0       0.43      0.47      0.45        49
         2.0       0.60      0.62      0.61        85
         3.0       0.71      0.57      0.63        86
         4.0       0.88      0.98      0.93       237

    accuracy                           0.75       479
   macro avg       0.53      0.53      0.52       479
weighted avg       0.71      0.75      0.73       479

In [26]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
y_pred_decision_tree = decision_tree.predict(X_test)
decision_tree_accuracy = accuracy_score(y_test, y_pred_decision_tree)
print(f'Decision Tree Accuracy: {decision_tree_accuracy}')
print(confusion_matrix(y_test, y_pred_decision_tree))
print(classification_report(y_test, y_pred_decision_tree))

Decision Tree Accuracy: 0.8434237995824635
[[ 12   3   2   2   3]
 [  0  39   1   4   5]
 [  4   3  65   6   7]
 [  1   2   2  70  11]
 [  2   8   4   5 218]]
              precision    recall  f1-score   support

         0.0       0.63      0.55      0.59        22
         1.0       0.71      0.80      0.75        49
         2.0       0.88      0.76      0.82        85
         3.0       0.80      0.81      0.81        86
         4.0       0.89      0.92      0.91       237

    accuracy                           0.84       479
   macro avg       0.78      0.77      0.77       479
weighted avg       0.84      0.84      0.84       479

In [27]:
random_forest = RandomForestClassifier()
random_forest.fit(X_train, y_train)
y_pred_random_forest = random_forest.predict(X_test)
random_forest_accuracy = accuracy_score(y_test, y_pred_random_forest)
print(f'Random Forest Accuracy: {random_forest_accuracy}')
print(confusion_matrix(y_test, y_pred_random_forest))
print(classification_report(y_test, y_pred_random_forest))

Random Forest Accuracy: 0.9081419624217119
[[ 10   5   3   2   2]
 [  1  41   2   1   4]
 [  1   2  73   5   4]
 [  0   2   2  77   5]
 [  0   1   0   2 234]]
              precision    recall  f1-score   support

         0.0       0.83      0.45      0.59        22
         1.0       0.80      0.84      0.82        49
         2.0       0.91      0.86      0.88        85
         3.0       0.89      0.90      0.89        86
         4.0       0.94      0.99      0.96       237

    accuracy                           0.91       479
   macro avg       0.87      0.81      0.83       479
weighted avg       0.91      0.91      0.90       479

In [28]:
model_accuracies = {
    'Logistic Regression': log_reg_accuracy,
    'Decision Tree': decision_tree_accuracy,
    'Random Forest': random_forest_accuracy
}

print(model_accuracies)

{'Logistic Regression': 0.7453027139874739, 'Decision Tree': 0.8434237995824635, 'Random Forest': 0.9081419624217119}